.contacts {
    padding: 120px 0;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
        text-align: center;
    }
    &__form {
        max-width: 800px;
        min-height: 400px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-input {
            width: 360px;
            height: 50px;
            border-radius: 10px;
            margin-top: 50px;
            padding: 10px 30px;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            border: none;
            outline: $bgColor;
        }
    }
    .checkbox__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkbox__label {
        width: 700px;
        text-align: center;
        margin-top: 20px;
    }
    .contacts__checkbox {
        width: 20px;
        height: 20px;
        margin-top: 30px;
        display: flex;
    }
    &__btn {
        width: 400px;
        height: 60px;
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        border-radius: 10px;
        color: $texColor;
        background-color: $btnColor;
        cursor: pointer;
        transition: all .8s;
        &:hover {
            background-color: $btnHover;
        }
    }
}